:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --alternative-color: #2196f3;
}
.body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
.link {
  text-decoration: none;
}
.text {
}
/*---------HEADER---------*/
.header {
}
.header-nav {
}
.header-list {
}
.header-list-item {
}
.header-list-link,
.header-mail,
.header-tel {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  color: var(--main-color);
}
.header-block-contacts {
}
.header-mail {
}
.header-tel {
}

/*---------HERO---------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  color: var(--third-color);
}
.hero-btn {
  background-color: var(--alternative-color);
  color: var(--third-color);
}

/*-------------TASKS-SECTION-------*/
.tasks {
}
.tasks-list-item {
}
.tasks-list-item-title {
}
.tasks-list-item-text {
}
