:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --alternative-color: #2196f3;
}
body {
  font-family: "Roboto", "sans serif";
  background-color: var(--third-color);
}

link,
a,
ul {
  text-decoration: none;
  list-style: none;
}
.web {
  color: var(--alternative-color);
}
/*---------HEADER---------*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.studio-head {
  color: var(--main-color);
}
.header {
}
.header-nav {
}
.header-list {
}
.header.list-item {
}
.header-link,
.header-mail,
.header-tel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--alternative-color);
}
.header-block-contacts {
}
.header-mail {
}
.header-tel {
}

/*---------HERO---------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--third-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--alternative-color);
  color: var(--third-color);
}

/*-------------TASKS-SECTION-------*/
.tasks {
  background-color: #e5e5e5;
}
.tasks-list-item {
}
.tasks-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tasks .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--second-color);
}

/*----------WORKS---------*/
.works {
  background-color: #e5e5e5;
}
.works > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-color);
}
.works > .list {
}
.works > .list-item {
}
.works > .link {
}

/*---------TEAM---------*/

.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team-list {
}
.team-list-item {
}
.name-title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.name-text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.2;
}

/*---------FOOTER---------*/
.footer {
  background-color: #2f303a;
}
.studio-foot {
  color: var(--third-color);
}
.footer-left {
}
.address-list {
}
.address {
  color: var(--third-color);
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*-------------Portfolio-----------*/
body {
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
}
/*navigation*/
.nav-portfolio {
}
.portfolio-btn-list {
}
.portfolio-btn-item {
}
.nav-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
.nav-btn:hover,
.nav-btn:focus {
  color: var(--third-color);
  background-color: var(--alternative-color);
}

/*projects*/
.portfolio-projects {
}
.portfolio-project {
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.project-text {
  font-size: 16px;
  line-height: 18.8;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
